
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>homepage</title>
</head>
<body>
    <div>
        @{ 
            SelectListItem[] liste = new SelectListItem[2]
            {
                new SelectListItem(){Text="Mustafa", Value="M"},
                new SelectListItem(){Text="Irk", Value="I"}
            };
        }

        @using (Html.BeginForm())
        {
            @Html.TextBox("text1")<br />
            @Html.DropDownList("list1", liste)
            @Html.CheckBox("check1")
            @("Onaylıyorum")
            <hr />
            <input type="submit" value="Send" />
        }
    </div>
</body>
</html>
